@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "prosto";
  src: url("../assets//fonts/TT\ Prosto\ Sans\ Trial\ Black.otf")
    format("opentype");
}
@font-face {
  font-family: "prosto-regular";
  src: url("../assets//fonts/TT\ Prosto\ Sans\ Trial\ Condensed\ Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "prosto";
  src: url("../assets//fonts/TT\ Prosto\ Sans\ Trial\ Black.otf")
    format("opentype");
}

.inline-flex.h-10.items-center.justify-center.rounded-md.bg-slate-100.p-1.text-slate-500.dark\:bg-slate-800.dark\:text-slate-400 {
  width: 100%;
}

a.group.inline-flex.h-10.w-max.items-center.justify-center.rounded-md.bg-white.px-4.py-2.text-sm.font-medium.transition-colors.hover\:bg-slate-100.hover\:text-slate-900.focus\:bg-slate-100.focus\:text-slate-900.focus\:outline-none.disabled\:pointer-events-none.disabled\:opacity-50.data-\[active\]\:bg-slate-100\/50.data-\[state\=open\]\:bg-slate-100\/50.dark\:bg-slate-950.dark\:hover\:bg-slate-800.dark\:hover\:text-slate-50.dark\:focus\:bg-slate-800.dark\:focus\:text-slate-50.dark\:data-\[active\]\:bg-slate-800\/50.dark\:data-\[state\=open\]\:bg-slate-800\/50 {
  background: transparent;
  font-size: 15px;
  font-weight: 400;
}

.flex.h-full.data-\[panel-group-direction\=vertical\]\:flex-col.w-full.rounded-lg.border {
  height: 500px !important;
}

.recognitions {
  /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
  background: #002244;
}

.inline-flex.h-10.items-center.justify-center.rounded-md.bg-slate-100.p-1.text-slate-500.dark\:bg-slate-800.dark\:text-slate-400.mb-12 {
  /* transform: rotate(270deg); */
  flex-direction: column;
  justify-content: space-between;
}

ul.font-bold.list-container {
  overflow-y: auto;
  height: 195px;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #002244;
}

.nav-menu a:hover {
  color: white;
}

div#radix-\:r5\: {
  z-index: 10000;
}

.service-main {
  background: rgb(0, 34, 68);
  background: linear-gradient(165deg, rgb(0 0 43) 0%, rgb(37 170 182) 100%);
}
.mobile-main {
  background-image: url(../assets/mobile-dev.jpg);
  background-image: linear-gradient(
      165deg,
      rgb(0, 0, 43) 0%,
      rgba(37, 170, 182, 0.777) 100%
    ),
    url(../assets/mobile-dev.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.digital-marketing {
  background-image: url(../assets/digital-marketing.jpg);
  background-image: linear-gradient(
      165deg,
      rgb(0, 0, 43) 0%,
      rgba(37, 170, 182, 0.777) 100%
    ),
    url(../assets/digital-marketing.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.animation {
  background-image: url(../assets/animation.jpg);
  background-image: linear-gradient(
      165deg,
      rgb(0, 0, 43) 0%,
      rgba(37, 170, 182, 0.777) 100%
    ),
    url(../assets/animation.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about-banner {
  background: rgb(0, 34, 68);
  background: linear-gradient(165deg, rgb(0 0 43) 0%, rgb(37 170 182) 100%);
}

.about-banner {
  background-image: url(../assets/About/about-banner.jpg);
  background-image: linear-gradient(
      165deg,
      rgba(0, 0, 43, 0.751) 0%,
      rgba(37, 170, 182, 0.346) 100%
    ),
    url(../assets//About/about-banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.flex.h-10.items-center.space-x-1.rounded-md.border.border-slate-200.bg-white.p-1.dark\:border-slate-800.dark\:bg-slate-950 {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

li.nav-links.px-4.cursor-pointer.capitalize.text-\[17px\].font-\[400\].text-white.hover\:scale-105.duration-200.link-underline {
  display: flex;
  align-items: center;
}

button#radix-\:R4hkqH1\: {
  background: transparent;
}

.px-6.lg\:container.lg\:mx-auto.lg\:py-4 {
  max-width: 1528px !important;
}

.peer-checked\:translate-x-0.fixed.inset-0.w-\[calc\(100\%-4\.5rem\)\].translate-x-\[-100\%\].bg-white.border-r.shadow-xl.transition.duration-300.lg\:border-r-0.lg\:w-auto.lg\:static.lg\:shadow-none.lg\:translate-x-0 {
  background: transparent;
}
/* .inline-flex.h-10.items-center.justify-center.rounded-md.bg-slate-100.p-1.text-slate-500.dark\:bg-slate-800.dark\:text-slate-400 {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  width: 800px;
  padding: 36px;
  border-radius: 0;
} */
